*{
	margin: 0;
	padding: 0;
}

body{
	padding: 0;
	margin: 0;
    font-family: 'Slabo', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #FFBB48;
    font-size: 1vw;
}

h1{
	 font-size: 400%;
}

a, button, h1, h2, h3{
	font-family: 'Oswald', serif;
	transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
}

a{
	text-transform: uppercase;
	color: #C6D1D1;
	padding: 4px 10px;
	border-color: #FFBB48;
	white-space: nowrap;
	transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
}

a:hover{
	text-decoration: none;
	color: black;
	background-color: #FFBB48;
}


a:focus{
	text-decoration: none;
	color: #C6D1D1;
}

input:focus{
	outline: none;
}

h2{
	position: relative;
	text-align: center;
	padding-bottom: 2vw;
	font-size: 200%;
	font-weight: bolder;
	text-transform: uppercase;
}

h2:after{
	content: " ";
    position: absolute;
    top: 2.5vw;
    width: 6vw;
    height: 2px;
    background-color: #361D5F;
    left: 50%;
    margin-left: -3vw;
}

p{
	font-size: 100%;
}

.row{
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: 0.8s ease all;
    -moz-transition: 0.8s ease all;
    -webkit-transition: 0.8s ease all;
}

.col-sm-12{
	padding: 0;
}

.conteiner{
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;
}

.short-conteiner{
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
}

.single-block{
	transition: 0.8s ease all;
    -moz-transition: 0.8s ease all;
    -webkit-transition: 0.8s ease all;
	transform: scaleY(0);
}

.navbar-header{
	overflow: hidden;
	width: 100%;
	height: auto;
	background: black;
	opacity: 0.8;
	position: fixed;
	z-index: 100;
	top: -60px;
	transition: 0.6s all;
}

.navbar-header ul{
	float: right;
	text-align: center;
	padding-top: 10px;
}

.navbar-header ul li{
    list-style: none;
    display: inline;
    font-size: 125%;
}

.navbar-header ul li a{
	text-decoration: none;
	padding: 10px 15px;
}

.home-conteiner{
	background: url(../images/home-bg.jpg);
	background-size: cover;
	padding-top: 28vh;
	padding-bottom: 28vh;
	width: 100%;
	height: auto;
	background-position: 0px 0%;
}

.home-text{
	padding-top: 6%;
	width: 90%;
}

.home-btn{
	font-size: 135%;
	margin-top: 4%;
	padding-bottom: 4px;
}

.home-buy-btn{
	border: 2px solid #FFBB48;
	border-radius: 4px;
}



.home-information-btn:after{
	padding-bottom: 10%;
	content: '⮯';
	color: #FFBB48;
	padding-left: 10px;
	font-size: 110%;
}

.home-information-btn:hover{
	background-color: transparent;
	color: white;
}

.home-conteiner img{
	width: 100%;
}

.description-conteiner{
	width: 100%;
	height: auto;
	color: black;
	background-position: -40px 300px;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.descriprion-title{
	padding-bottom: 20px;
	padding-right: 4vw;
	padding-left: 4vw;
}

.description-left{
	position: absolute;
	width: 40%;
	height: 100%;

}

.description-left img{
	width: auto;
	height: 50%;
	margin: auto;
	display: block;
}

.description-right{
	margin: auto;
	width: 60%;
	float: right;
}

.description-right h2{
	width: 80%;
	text-align: left;
}

.description-right h2:after{
	margin: 0;
    left: 0;
    width: 60%;
}

.single-description{
	padding-left: 10px;
	position: relative;
	cursor: default;
}

.single-description .single-desc-icon{
	position: absolute;
	font-size: 70px;
	left: -4px;
	color: #605276;
	transition: 1s all;
}

.single-description:hover .single-desc-icon{
	color: #322F47;
}

.single-description .single-desc-cont{
	padding-left: 66px;
}

.single-description h2{
	text-align: left;
	width: 100%;
	padding-bottom: 0px;
}

.single-description h2:after{
	display: none;
}

.awards-conteiner{
	background-color: #605276;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.video{
	position: relative;
	width: 100%;
    height: 0px;
    padding-bottom: 56.25%;
}

.video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}

.awards-conteiner h2{
	text-align: left;
	width: 80%;
}

.awards-conteiner h2:after {
    margin: 0;
    left: 0;
    width: 80%;
    background-color: #FFB53B;
}

.awards-text{
	padding: 6vw 0;
}

.awards-text p{
	padding-bottom: 20px;
}

.awards-text .awards-features-btn{
	border-radius: 4px;
	border: 2px solid #ffa726;
	font-size: 22px;
}

.reviews-conteiner{
	background: url(../images/rewiev-bg.jpg);
	background-size: cover;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.reviews-conteiner img{
	margin: auto;
	width: 10%;
	border-radius: 100%;
}

.review-text{
	padding-bottom: 60px;
	text-align: center;
	height: 240px;
}

.galeria-conteiner h2{
	color: black;
}

.review-text h3{
	padding-bottom: 60px;
}

.features-conteiner{
	background-color: #605276;
	color: white;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 4%;
	padding-right: 4%;
}

.features-conteiner h2{
	text-align: center;
}

.features-conteiner h2:after{
	background-color: #FFBB48;
}

.features-center img{
	position: relative;
	margin-left: -50%;
	width: auto;
	height: 100%;
	padding-right: 15px;
    padding-left: 15px;
}

.features-center{
	position: absolute;
	height: 100%;
	left: 50%;
	padding-right: 15px;
}

.features-left{
	float: left;
	width: 36%;
}

.features-right{
	float: right;
	width: 36%;
}

.features-right-block{
	margin: auto;
	padding-left: 14%;
	text-align: left;
	min-height: 10vw;
}

.features-left-block{
	margin: auto;
	padding-right: 14%;
	text-align: right;
	min-height: 10vw;
}

.features-left-block h2{
	text-align: right;
	padding-bottom: 0;
	white-space: pre-line;
}

.features-right-block h2{
	text-align: left;
	padding-bottom: 0;
	white-space: pre-line;
}

.features-left-block h2:after{
	display: none;
	background-color: #FFBB48;
}

.features-right-block h2:after{
	display: none;
	background-color: #FFBB48;
}

.features-left-icon{
	color: #FFBB48;
	position: absolute;
	overflow: hidden;
	font-size: 400%;
}

.features-right-icon{
	color: #FFB53B;
	position: absolute;
	overflow: hidden;
	font-size: 400%;
	left: 0px;
}

.order-conteiner{
	background: url(../images/count-bg.jpg);
	background-size: cover;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.order-conteiner .count-icon{
	display: block;
	font-size: 200%;
}

.order-conteiner h2{
	margin: 0;
}

.order-conteiner h2:after{
	background-color: #f39c12;
}

.order-conteiner p{
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 120%;
}

.order-btn{
	background: transparent;
	width: 100%;
	font-size: 110%;
	align-self: baseline;
	margin-top: 32%;
	margin-bottom: 10%;
	border: 2px solid #ffa726;
	border-radius: 4px;
	padding: 10px;
	font-weight: bolder;
	text-transform: uppercase;
	transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
}

.order-btn:hover{
	color: black;
	background: #FFBB48;
}

.input-text-group{
	position: relative;
	margin: 10% auto;
}

.input-text-group input{
	background: none;
	font-size: 125%;
	display: block;
	width: 100%;
	padding: 10px;
	margin: auto;
	border: none;
	border-bottom: 2px solid #ccc;
	box-sizing: border-box;
}

.input-text-group label{
	font-size: 18px;
	position: absolute;
	pointer-events: none;
	left: 24px;
	top: 12px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar{
	position: relative;
	display: block;
	width: 100%;
	margin: auto;
}

.input-text-group input:focus ~ label,
.input-text-group input:valid ~ label {
    top: -20px;
    font-size: 100%;
}

.input-text-group input:focus ~ label:after,
.input-text-group input:valid ~ label:after {
    content: ':';
}

.bar:before, .bar:after{
	content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before{
	left: 50%;
}

.bar:after{
	right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after{
	width: 50%;
}

.galeria-conteiner{
	padding: 0;
	background-color: #FFB53B;
	padding-top: 20px;
}

.galeria-conteiner img{
	width: 100%;
	margin-top: -120px;
}

.galeria-conteiner .item{
	max-height: 540px;
	overflow: hidden;
}

.footer-conteiner{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5vh;
	padding-bottom: 5vh;
	background-color: #605276;
	border-bottom: 4px solid #FFB53B;
}

.footer-conteiner span{
	margin: 4px auto;
	display: block;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 150%;
}

.footer-conteiner span:last-child{
	font-size: 110%;
}

.footer-conteiner span:last-child:before{
	content: 'by ';
	color: #FFB53B;
}

.single-block h2{
	margin: 0;
}

@media (max-width: 992px){

	body{
	    font-size: 2vw;
	}
	h2:after{
		top: 5vw;
		width: 12vw;
		margin-left: -6vw;
	}
	.home-conteiner img{
		display: none;
	}
	.description-left{
		position: relative;
		width: 100%;
	}

	.description-left img{
		height: auto;
		width: 49%;
		display: inline-block;
	}
	.description-right{
		width: 100%;
		float: none;
	}

	.features-center{
		left: 0;
	    padding-right: 0;
	    position: relative;
	    height: 50vw;
	    text-align: center;
	}

	.features-left{
		float: none;
		width: 100%;
	}

	.features-right{
		float: none;
		width: 100%;
		text-align: center;
	}

	.features-center img{
		padding: 20px 0;
	    margin-top: -30%;
	    height: 100vw;
	    transform: rotate(90deg);
		margin-left: 0;
	    margin-top: -30%;
	}
	.single-block {
		width: 33.3%;
		float: right;
		display: inline-block;
	}

	.features-right-block{
		padding-left: 10%;
	}

	.features-left-block{
		padding-right: 10%;
	}
	.order-conteiner {
	    background-size: 160%;
	}
	.navbar-header{
		font-size: 1.4vw
	}
}

@media (max-width: 768px){
	body{
	    font-size: 16px;
	}
	h2:after{
		content: none;
	}
	.navbar-header {
		display: none;
	}
	.single-block {
		width: 100%;
		float: none;
		display: block;
	}
	.features-right-block{
		padding-left: 70px;
	}

	.features-left-block{
		padding-right: 70px;
	}
	.order-conteiner {
	    background-size: 300%;
	}
	.order-btn{
		margin-top: 0;
	}
	.review-text {
	    padding-bottom: 260px;
	}
}